<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.image.lib_ui">

    <application>
        <activity
            android:name=".UiCutomActivity"/>
        <activity
            android:name=".material_design.recylerview.RecylerViewTabActivity"/>
        <activity android:name=".material_design.swip.SwipeRefreshLayoutActivity"/>
        <activity android:name=".material_design.viewpager.ViewPagerDemoActivity"/>
        <activity android:name=".material_design.popupwindow.PopupWindowDemoActivity"/>
        <activity android:name=".material_design.dialog.DialogActivity"/>
        <activity android:name=".material_design.custom.CustomViewActivity"/>
        <activity android:name=".material_design.recylerview.multi_adapter.ChatMessageActivity"/>
        <activity android:name=".material_design.recylerview.multi_adapter.ChatMessageActivityCopy"/>
        <activity android:name=".material_design.wheelview.WheelViewDemoActivity"/>
    </application>
</manifest>